html, body {
  font-size: 14px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

* {
  box-sizing: border-box;
}

.input-range__label--min, .input-range__label--max {
  bottom: -0.8rem;
}

.input-range__label--value {
  top: -1.4rem;
}
